body{
    background-color: darkgray;
}

.search-bar{
    position: relative;
    display: inline-block;

}

.search-bar input{
    padding: 5px;
    padding-right: 20px;
    outline: none; 
    border-radius: 5px;
}

.search-bar button{
    background-color: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    margin-right: 7px;
    cursor: pointer;


}