body, html{
    height: 100%;
    font-size: 1.2rem;
}
.box1{

    background-color: aqua;
    width: 3cm;
    height: 30vh;
    
}

.box2{

    background-color: red;
    width: 300px;
}

.box3{

    background-color: blue;
    width: 50%;
    height: 250px;
    font-size: 2rem;

}

.box4{

    background-color: green;
    width: 50%;
    height: 50%;
    font-size: 2rem;
}

.box5{

    background-color: paleturquoise;
    width: 50vw;
    
}
