:root{
    --color1: rgb(255, 157, 0);
    --color2: white;
    --color3: green;
    --color4: black;
    

}

nav.menu{
   background-color: var(--color1);
   text-align: center;
}

nav.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav.menu li::after{
    content: "|";
    color: var(--color2);
}
nav.menu li:last-child::after{
    content: "►";
    color: var(--color3);
}
nav.menu li:first-child::before{
    content: "◄";
    color: var(--color3);
}

nav.menu li{
    display: inline-block;
}
a{
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    color: var(--color2)
}

a:hover{
    color: var(--color4)
}